/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 0;
  font-family: sans-serif;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.content-container {
  position: relative;
  height: 80vh;
}

i {
  font-size: 28px;
  color: orange;
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
}

i:hover {
  /* add your own hover effect */
  color: red;
  opacity: 0.5;
  transition: all 0.5s;
}

.left {
  margin-left: 10px;
}

.right {
  float: right;
  margin-right: 10px;
}

h1 {
  text-align: center;
}

/* every element with this class takes up the full 
 width and height of the screen */
.full-screen {
  border: 1px solid grey;
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  padding-top: 0;
}

.full-screen p {
  padding: 10px;
}

.hidden {
  visibility: hidden;
}

#slide-1 {
  background: #84B59F;
}

#slide-2 {
  background: #31AFD4;
}

#slide-3 {
  background: #E9B44C;
}

/* button styles */
button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  background: #E9B44C;
  margin: 5px;
}

button:hover {
  opacity: 0.8;
}

.checklist-container {
  position: relative;
}

#checklist {
  padding: 25px;
  background: pink;
}
